# Ignore build artifacts
build/
dist/
__pycache__/
*.spec

# Ignore local scores and settings
BallBounce_HIGH_SCORE.txt

# Ignore VSCode or PyCharm files
.vscode/
.idea/

# Ignore temporary files
*.log
*.tmp
*.DS_Store
Thumbs.db
